In [32]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [33]:
%sql postgresql://postgres:root123@127.0.0.1/sparkifydb

In [34]:
%sql SELECT * FROM songs LIMIT 5;
%sql SELECT COUNT(*) FROM songs;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.
 * postgresql://postgres:***@127.0.0.1/sparkifydb
1 rows affected.

[(71,)]

In [35]:
%sql SELECT * FROM artists LIMIT 5;
%sql SELECT COUNT(*) FROM artists;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.
 * postgresql://postgres:***@127.0.0.1/sparkifydb
1 rows affected.

[(69,)]

In [36]:
%sql SELECT * FROM time LIMIT 5;
%sql SELECT COUNT(*) FROM time;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.
 * postgresql://postgres:***@127.0.0.1/sparkifydb
1 rows affected.

[(6813,)]

In [37]:
%sql SELECT * FROM users LIMIT 5;
%sql SELECT COUNT(*) FROM users;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.
 * postgresql://postgres:***@127.0.0.1/sparkifydb
1 rows affected.

[(96,)]

In [38]:
%sql SELECT * FROM songplays LIMIT 5;
%sql SELECT count(*) from songplays;

 * postgresql://postgres:***@127.0.0.1/sparkifydb
5 rows affected.
 * postgresql://postgres:***@127.0.0.1/sparkifydb
1 rows affected.

[(6820,)]

### Remember to restart this notebook to close connection to sparkify database